<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/output.css">
  </head>
  <body class="flex items-center justify-center min-h-screen text-center bg-gradient-to-t from-zinc-900 via-gray-900 to-slate-900">
    <div>
      <h1 class="text-8xl font-bold text-white mb-4">Biblio - App</h1>
      <button type="button" class="bg-[#ff0] text-neutral-800 rounded-lg text-2xl px-5 py-2.5 text-center me-2 mb-2"><a href="/books">INGRESAR →</a></button>
    </div>
  </body>
</html>