<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/biblio_app.css">
  </head>
  <body class="flex items-center justify-center min-h-screen text-center bg-[radial-gradient(circle,rgba(255,249,225,1)_0%,rgba(199,182,159,1)_100%)]">
    <div> 
      <div class="keyboard">
        <span class="key text-7xl">B</span>
        <span class="key text-7xl">I</span>
        <span class="key text-7xl">B</span>
        <span class="key text-7xl">L</span>
        <span class="key text-7xl">O</span>
        <span class="key text-7xl">-</span>
        <span class="key text-7xl">A</span>
        <span class="key text-7xl">P</span>
        <span class="key text-7xl">P</span>
      </div>
      <button type="button" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">INGRESAR</button>
    </div>
  </body>
</html>