@import "tailwindcss";

@theme {
    --color-brown1: #553d2a;
    --color-brown2: #69503c;
    --color-brown3: #7e634e;
    --color-brown4: #907761;
    --color-brown5: #c7b69f;
    --color-brown6: #fff9e1;
}